/* Base Application Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Open-Sans, Helvetica, Sans-Serif;
  font-size: 20px;
}

body {
  background: url('./assets/bg-geo.jpg');
  background-repeat: repeat;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

h1 {
  font-size: 48px;
  margin: 15px; 
  color: orangered;
}

input {
  padding: 6px 10px;
  border: 1px solid silver;
  border-radius: 4px;
  max-width: 100%;
}

button {
  border: 0px;
  padding: 6px 12px;
  background: #b6df56;
  color: white;
  cursor: pointer;
  border-radius: 4px; 
}

button:hover{
  background: #b6df56;
  box-shadow: 0px 0px 6px 0px #797979;
}

.title{
  width: 220px;
}
.amountPLN, .amountPLNHead {
  width:160px;
}
.amountEUR, .amountEURHead {
  width:160px;
}
.optionCell {
  width:100px;
}
.checkbox {
  width: 30px;
}
