/* Base Application Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Open-Sans, Helvetica, Sans-Serif;
  font-size: 20px;
}

body {
display:flex;
justify-content: center;
background: url('./assets/bg-geo.jpg');
background-repeat: repeat;
}

.inputs{
display:flex;
justify-content: center;
flex-direction:column;
}

label{
font-size:24px;
}

h1 {
  font-size: 48px;
  margin: 15px; 
  color: orangered;
}

h2 {
  line-height: 200%; }

input {
  padding: 8px 12px;
  border: none;
  box-shadow: 0px 0px 10px 0px #797979;
  font-size: 22px;
  margin: 0 10px 10px 20px;;
  border-radius: 5%; 
  
}

button {
  border: 0px;
  padding: 10px 15px;
  background: #b8e748;
  color: white;
  box-shadow: 0px 0px 15px 0px #797979;
  font-size: 24px;
  cursor: pointer;
border-radius: 5%; }

button.deleteButton{
  font-size:18px;
  padding: 5px 10px;
}

button:hover{
  background: #c0ee56;
}

.tableHeader{
  display: flex;
  flex-direction: row;
  padding:10px 5px;
  color: white;
  background: #0ab83e;
  margin-top:10px;
}

.rows {
  display: flex;
  flex-direction: row;
  padding:5px;
  border-bottom: 1px solid silver;
}
.title{
  min-width:200px;
}
.amountPLN, .amountPLNHead {
  min-width:160px;
}
.amountEUR, .amountEURHead {
  min-width:160px;
}
.optionCell {
  min-width:100px;
}
