
.row {
  display: flex;
  padding: 5px 10px;
  border-bottom: 1px solid silver;
  text-align: left;
  align-items: center;
  gap: 10px;
}

input[type="checkbox"] {
  cursor: pointer;
  accent-color: #0ab83e;
  width: 20px;
  height: 20px;
  border-radius: 4px;;
}

.checked {
  filter: opacity(0.5);
  position: relative;
  &::after {
    position: absolute;
    content: "";
    display: block;
    right: 0;
    width: calc(100% - 40px);
    height: 1px;
    background: black;
  }
}

.option-btns {
  display: flex;
  gap: 10px;
  & button:nth-of-type(2){
    background-color: orangered;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
}